.sponsor__container{
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.sponsor__content{
    position: relative;
    margin-top: var(--mb-1);
}

.sponsor__content img{
    width: 100%;
    display: inline-block;
    align-self: center;
    filter: grayscale(60);
    cursor: pointer;
    transform: scale(1);
    transition: filter .3s linear;
    -webkit-animation: mover 1s infinite  alternate;
   animation: mover 1s infinite  alternate;
}

.sponsor__content img:hover{
    filter: grayscale(0);
}

.sponsor__support{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--mb-2);
}

.sponsor__link{
    outline: none;
    border: none;
    margin-left: var(--mb-0-75);
    cursor: pointer;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@media screen and (max-width: 350px) {
    .sponsor__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsor__support{
        display: block;
        text-align: center;
        padding: 1rem;
    }

    .sponsor__support .sponsor__title{
        margin-bottom: var(--mb-0-75);
    }

    .sponsor__link{
        margin-left: unset;
    }
}